/* 标准 */

/******** 大将灯 ********/
.biao-da-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/biaoZhun_lamp.png");
	transform: scale(0.7);
	animation: biaoDaLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoDaLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*0);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*0);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*0);
	}

	
	60% {
		background-position:  calc(-64px*3) calc(-64px*0);
	}
	
	80%{
		background-position:  calc(-64px*4) calc(-64px*0);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*0);
	}
}

/******** 小将灯标题 ********/
.biao-title {
	width: 320px;
	height: 32px;
	background-image: url("@/static/images/online/lamps/biaoZhun_title.png");
}

/* 蜀汉虎将 */
.biao-hu-title {
	background-position: 0 calc(-32px*0);
}

/* 贤明君主 */
.biao-zhu-title {
	background-position: 0 calc(-40px*1);
}

/* 勇冠三军 */
.biao-yong-title {
	background-position: 0 calc(-40px*2);
}

/* 帷幄千里 */
.biao-wei-title {
	background-position: 0 calc(-40px*3);
}

/* 巾帼红颜 */
.biao-guo-title {
	background-position: 0 calc(-40px*4);
}

/******** 小将灯 ********/
.biao-xiao-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/biaoZhun_lamp.png");
}

/* 虎 */
.biao-hu-lamp {
	animation: biaoHuLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoHuLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*1);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*1);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*1);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*1);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*1);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*1);
	}

}

/* 主 */
.biao-zhu-lamp {
	animation: biaoZhuLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoZhuLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*2);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*2);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*2);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*2);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*2);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*2);
	}
}

/* 勇 */
.biao-yong-lamp {
	animation: biaoYongLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoYongLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*3);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*3);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*3);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*3);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*3);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*3);
	}
}

/* 帷 */
.biao-wei-lamp {
	animation: biaoWeiLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoWeiLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*4);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*4);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*4);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*4);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*4);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*4);
	}
}

/* 帼 */
.biao-guo-lamp {
	animation: biaoGuoLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoGuoLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*5);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*5);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*5);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*5);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*5);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*5);
	}
}