/* 国战 */
.guo {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/guoZhan/0_guo.png");
	transform: scale(0.7);
	animation: guoFrameAnim steps(1, start) 1s infinite;
	background-position: -13px -10px;
}

@keyframes guoFrameAnim {}