/* 标准 */
.jieJiang {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/jieYiJiangChengMing/0_jieJiang.png");
	transform: scale(0.7);
	animation: jieJiangFrameAnim steps(1, start) 1s infinite;
	background-position: 3px 4px;
}

@keyframes jieJiangFrameAnim {}