/* SP */
.sp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/SP/0_sp.png");
	transform: scale(0.7);
	animation: spFrameAnim steps(1, start) 1s infinite;
	background-position: -3px 0px;
}

@keyframes spFrameAnim {}