/* 文德武备 */
.wenWu {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/wenDeWuBei/0_wenWu.png");
	transform: scale(0.7);
	animation: wenWuFrameAnim steps(1, start) 1s infinite;
	background-position: -8px -8px;
}

@keyframes wenWuFrameAnim {}