/* 限定 */
.xian {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/xianDing/0_xian.png");
	transform: scale(0.7);
	animation: xianFrameAnim steps(1, start) 1s infinite;
	background-position: -8px -4px;
}

@keyframes xianFrameAnim {}