/* 一将成名 */

/******** 大将灯 ********/
.jiang-da-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/yiJiangChengMing_lamp.png");
	transform: scale(0.7);
	animation: jiangDaLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiangDaLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*0);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*0);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*0);
	}

	
	60% {
		background-position:  calc(-64px*3) calc(-64px*0);
	}
	
	80%{
		background-position:  calc(-64px*4) calc(-64px*0);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*0);
	}
}

@keyframes jiangFrameAnim {}


/******** 小将灯标题 ********/
.jiang-title {
	width: 320px;
	height: 32px;
	background-image: url("@/static/images/online/lamps/yiJiangChengMing_title.png");
}

/* 一将成名1 */
.jiang-1-title {
	background-position: 0 calc(-32px*0);
}

/* 一将成名2 */
.jiang-2-title {
	background-position: 0 calc(-32px*1);
}

/* 一将成名3 */
.jiang-3-title {
	background-position: 0 calc(-32px*2);
}

/* 一将成名4 */
.jiang-4-title {
	background-position: 0 calc(-32px*3);
}

/* 一将成名5 */
.jiang-5-title {
	background-position: 0 calc(-32px*4);
}

/* 一将成名6 */
.jiang-6-title {
	background-position: 0 calc(-32px*5);
}

/* 一将成名7 */
.jiang-7-title {
	background-position: 0 calc(-32px*6);
}


/******** 小将灯 ********/
.jiang-xiao-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/lamps/yiJiangChengMing_lamp.png");
}

/* 一将成名1 */
.jiang-1-lamp {
	animation: jiang1LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang1LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*1);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*1);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*1);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*1);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*1);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*1);
	}

}

/* 一将成名2 */
.jiang-2-lamp {
	animation: jiang2LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang2LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*2);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*2);
	}

	 40% {
		background-position: calc(-64px*2) calc(-64px*2);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*2);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*2);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*2);
	}

}

/* 一将成名3 */
.jiang-3-lamp {
	animation: jiang3LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang3LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*3);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*3);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*3);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*3);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*3);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*3);
	}

}

/* 一将成名4 */
.jiang-4-lamp {
	animation: jiang4LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang4LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*4);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*4);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*4);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*4);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*4);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*4);
	}

}


/* 一将成名5 */
.jiang-5-lamp {
	animation: jiang5LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang5LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*5);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*5);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*5);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*5);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*5);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*5);
	}

}

/* 一将成名6 */
.jiang-6-lamp {
	animation: jiang6LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang6LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*6);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*6);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*6);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*6);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*6);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*6);
	}

}

/* 一将成名7 */
.jiang-7-lamp {
	animation: jiang7LampFrameAnim steps(1, start) 1s infinite;
}

@keyframes jiang7LampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*7);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*7);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*7);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*7);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*7);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*7);
	}

}