/* 标准 */

/******************************** 小将灯标题 ********************************/
.biao-title {
	width: 320px;
	height: 32px;
	background-image: url("@/static/images/online/biaoZhun/title.png");
}

/* 蜀汉虎将 */
.biao-hu-title {
	background-position: 0 calc(-32px*0);
}

/* 贤明君主 */
.biao-zhu-title {
	background-position: 0 calc(-40px*1);
}

/* 勇冠三军 */
.biao-yong-title {
	background-position: 0 calc(-40px*2);
}

/* 帷幄千里 */
.biao-wei-title {
	background-position: 0 calc(-40px*3);
}

/* 巾帼红颜 */
.biao-guo-title {
	background-position: 0 calc(-40px*4);
}

/******************************** 大将灯 ********************************/
.biao-da-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/biaoZhun/lamp.png");
	transform: scale(0.7);
	animation: biaoDaLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoDaLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*0);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*0);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*0);
	}

	60% {
		background-position:  calc(-64px*3) calc(-64px*0);
	}
	
	80%{
		background-position:  calc(-64px*4) calc(-64px*0);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*0);
	}
}

/******************************** 小将灯 ********************************/
.biao-xiao-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/biaoZhun/lamp.png");
}

/* 虎 */
.biao-hu-lamp {
	animation: biaoHuLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoHuLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*1);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*1);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*1);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*1);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*1);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*1);
	}

}

/* 主 */
.biao-zhu-lamp {
	animation: biaoZhuLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoZhuLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*2);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*2);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*2);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*2);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*2);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*2);
	}
}

/* 勇 */
.biao-yong-lamp {
	animation: biaoYongLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoYongLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*3);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*3);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*3);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*3);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*3);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*3);
	}
}

/* 帷 */
.biao-wei-lamp {
	animation: biaoWeiLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoWeiLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*4);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*4);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*4);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*4);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*4);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*4);
	}
}

/* 帼 */
.biao-guo-lamp {
	animation: biaoGuoLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes biaoGuoLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*5);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*5);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*5);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*5);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*5);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*5);
	}
}

/******************************** 头像 ********************************/

.biao-avatar {
	width: 61px;
	height: 61px;
	background-image: url("@/static/images/online/biaoZhun/avatar.png");
}

/***** 蜀汉虎将 *****/

/* 关羽 */
.biao-hu-01 {
	background-position: calc(-61px*0) calc(-61px*0);
}

/* 张飞 */
.biao-hu-02 {
	background-position: calc(-61px*1) calc(-61px*0);
}

/* 赵云 */
.biao-hu-03 {
	background-position: calc(-61px*2) calc(-61px*0);
}

/* 马超 */
.biao-hu-04 {
	background-position: calc(-61px*3) calc(-61px*0);
}

/***** 贤明君主 *****/
/* 刘备	*/
.biao-zhu-01 {
	background-position: calc(-61px*0) calc(-61px*1);
}

/* 孙权	*/
.biao-zhu-02 {
	background-position: calc(-61px*1) calc(-61px*1);
}

/* 曹操	*/
.biao-zhu-03 {
	background-position: calc(-61px*2) calc(-61px*1);
}

/* 袁术 */
.biao-zhu-04 {
	background-position: calc(-61px*3) calc(-61px*1);
}


/***** 勇冠三军 *****/

/* 甘宁 */
.biao-yong-01 {
	background-position: calc(-61px*0) calc(-61px*2);
}

/* 吕蒙	*/
.biao-yong-02 {
	background-position: calc(-61px*1) calc(-61px*2);
}

/* 黄盖 */
.biao-yong-03 {
	background-position: calc(-61px*2) calc(-61px*2);
}

/* 夏侯惇 */
.biao-yong-04 {
	background-position: calc(-61px*3) calc(-61px*2);
}

/* 张辽 */
.biao-yong-05 {
	background-position: calc(-61px*4) calc(-61px*2);
}

/* 许褚	*/
.biao-yong-06 {
	background-position: calc(-61px*5) calc(-61px*2);
}

/* 吕布 */
.biao-yong-07 {
	background-position: calc(-61px*6) calc(-61px*2);
}

/* 华雄	*/
.biao-yong-08 {
	background-position: calc(-61px*7) calc(-61px*2);
}


/***** 帷幄千里 *****/

/* 诸葛亮 */
.biao-wei-01 {
	background-position: calc(-61px*0) calc(-61px*3);
}

/* 周瑜 */
.biao-wei-02 {
	background-position: calc(-61px*1) calc(-61px*3);
}

/* 陆逊	*/
.biao-wei-03 {
	background-position: calc(-61px*2) calc(-61px*3);
}

/* 司马懿 */
.biao-wei-04 {
	background-position: calc(-61px*3) calc(-61px*3);
}

/* 郭嘉	 */
.biao-wei-05 {
	background-position: calc(-61px*4) calc(-61px*3);
}

/* 华佗 */
.biao-wei-06 {
	background-position: calc(-61px*5) calc(-61px*3);
}


/***** 巾帼英雄 *****/
/* 黄月英 */
.biao-guo-01 {
	background-position: calc(-61px*0) calc(-61px*4);
}

/* 大乔 */
.biao-guo-02 {
	background-position: calc(-61px*1) calc(-61px*4);
}

/* 甄姬 */
.biao-guo-03 {
	background-position: calc(-61px*2) calc(-61px*4);
}

/* 貂蝉 */
.biao-guo-04 {
	background-position: calc(-61px*3) calc(-61px*4);
}

/* 孙尚香 */
.biao-guo-05 {
	background-position: calc(-61px*4) calc(-61px*4);
}