/* ÃÅ·§Ê¿×å */

/******************************** Ð¡½«µÆ±êÌâ ********************************/
.zu-title {
	width: 320px;
	height: 32px;
	background-image: url("@/static/images/online/menFaShiZu/title.png");
}

/* ò£´¨Ü÷ÊÏ */
.zu-xun-title {
	background-position: 0 calc(-32px*0);
}

/* ³ÂÁôÎâÊÏ */
.zu-wu-title {
	background-position: 0 calc(-32px*1);
}

/* ò£´¨º«ÊÏ */
.zu-han-title {
	background-position: 0 calc(-32px*2);
}

/* ò£´¨ÖÓÊÏ */
.zu-zhong-title {
	background-position: 0 calc(-32px*3);
}

/* Ì«Ô­ÍõÊÏ */
.zu-wang-title {
	background-position: 0 calc(-32px*4);
}

/******************************** ´ó½«µÆ ********************************/
.zu-da-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/menFaShiZu/lamp.png");
	transform: scale(0.7);
	animation: zuDaLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuDaLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*0);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*0);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*0);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*0);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*0);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*0);
	}
}

/******************************** Ð¡½«µÆ ********************************/
.zu-xiao-lamp {
	width: 64px;
	height: 64px;
	background-image: url("@/static/images/online/menFaShiZu/lamp.png");
}

/* ò£´¨Ü÷ÊÏ */
.zu-xun-lamp {
	animation: zuXunLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuXunLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*1);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*1);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*1);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*1);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*1);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*1);
	}

}

/* ³ÂÁôÎâÊÏ */
.zu-wu-lamp {
	animation: zuWuLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuWuLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*2);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*2);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*2);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*2);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*2);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*2);
	}

}

/* ò£´¨º«ÊÏ */
.zu-han-lamp {
	animation: zuHanLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuHanLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*3);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*3);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*3);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*3);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*3);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*3);
	}

}

/* ò£´¨ÖÓÊÏ */
.zu-zhong-lamp {
	animation: zuZhongLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuZhongLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*4);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*4);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*4);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*4);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*4);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*4);
	}

}

/* Ì«Ô­ÍõÊÏ */
.zu-wang-lamp {
	animation: zuWangLampFrameAnim steps(1, start) 1s infinite;
}

@keyframes zuWangLampFrameAnim {
	0% {
		background-position: calc(-64px*0) calc(-64px*5);
	}

	20% {
		background-position: calc(-64px*1) calc(-64px*5);
	}

	40% {
		background-position: calc(-64px*2) calc(-64px*5);
	}

	60% {
		background-position: calc(-64px*3) calc(-64px*5);
	}

	80% {
		background-position: calc(-64px*4) calc(-64px*5);
	}

	100% {
		background-position: calc(-64px*5) calc(-64px*5);
	}

}

/******************************** Í·Ïñ ********************************/

.zu-avatar {
	width: 61px;
	height: 61px;
	background-image: url("@/static/images/online/menFaShiZu/avatar.png");
}


/***** ò£´¨Ü÷ÊÏ *****/

/* ×å¡¤Ü÷Êç */
.zu-xun-01 {
	background-position: calc(-61px*0) calc(-61px*0)
}

/* ×å¡¤Ü÷ÚÈ */
.zu-xun-02 {
	background-position: calc(-61px*1) calc(-61px*0)
}

/* ×å¡¤Ü÷²É */
.zu-xun-03 {
	background-position: calc(-61px*2) calc(-61px*0)
}

/* ×å¡¤Ü÷ôÓ */
.zu-xun-04 {
	background-position: calc(-61px*3) calc(-61px*0)
}

/* ×å¡¤Ü÷Øü */
.zu-xun-05 {
	background-position: calc(-61px*4) calc(-61px*0)
}


/***** ³ÂÁôÎâÊÏ *****/

/* ×å¡¤ÎâÜÈ */
.zu-wu-01 {
	background-position: calc(-61px*0) calc(-61px*1)
}

/* ×å¡¤Îâ°à */
.zu-wu-02 {
	background-position: calc(-61px*1) calc(-61px*1)
}

/* ×å¡¤Îâ¿ï */
.zu-wu-03 {
	background-position: calc(-61px*2) calc(-61px*1)
}

/* ×å¡¤ÎâÇÇ */
.zu-wu-04 {
	background-position: calc(-61px*3) calc(-61px*1)
}

/***** ò£´¨º«ÊÏ *****/

/* ×å¡¤º«ÉØ */
.zu-han-01 {
	background-position: calc(-61px*0) calc(-61px*2)
}

/* ×å¡¤º«ÈÚ */
.zu-han-02 {
	background-position: calc(-61px*1) calc(-61px*2)
}

/***** ò£´¨ÖÓÊÏ *****/

/* ×å¡¤ÖÓçü */
.zu-zhong-01 {
	background-position: calc(-61px*0) calc(-61px*3)
}

/* ×å¡¤ÖÓØ¹ */
.zu-zhong-02 {
	background-position: calc(-61px*1) calc(-61px*3)
}

/***** Ì«Ô­ÍõÊÏ *****/

/* ×å¡¤ÍõÔÊ */
.zu-wang-01 {
	background-position: calc(-61px*0) calc(-61px*4)
}

/* ×å¡¤ÍõÁè */
.zu-wang-02 {
	background-position: calc(-61px*1) calc(-61px*4)
}

/* ×å¡¤Íõ»ë */
.zu-wang-03 {
	background-position: calc(-61px*2) calc(-61px*4)
}

/* ×å¡¤ÍõÂÙ */
.zu-wang-04 {
	background-position: calc(-61px*3) calc(-61px*4)
}